<ion-header>
  <ion-navbar>
    <ion-title>Movie Details: {{movie.title}} </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card-title>
    {{movie.title}}
  </ion-card-title>
  <ion-card>
    <img src="http://image.tmdb.org/t/p/w185{{movie.backdrop_path}}" />
    <ion-card-content>
        <ion-card>
        {{movie.overview}}
        <ion-card-content>
        </ion-card-content>
        </ion-card>
        <br> Release Date : {{movie.release_date}}
        <br> Review critic : {{movie.vote_average}}/10
        <br> !Review critics are based in {{movie.vote_count}} votes!
    </ion-card-content>
  </ion-card>

  <button ion-button full [color]="(movie.isInFavorite) ? 'danger' : 'light'" round (click)="onAddOrRemoveFavorite()">
    <ion-icon name="heart"></ion-icon>
  </button>


  <p class="movie-favorite">
    {{FavMsg}}
  </p>
  <button ion-button full (click)="onShareTwitter()">
    <ion-icon name="logo-twitter"></ion-icon>
  </button>

  <ion-list>
    <ion-item *ngFor="let c of comments">
      <h2>{{c.text}}</h2>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar position="bottom">
    <ion-input type="text" [(ngModel)]="comment" placeholder="Type a Comment"></ion-input>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="comment" (click)="addComment()">
        <ion-icon name="send"></ion-icon>
      </button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>