<ion-header>
  <ion-navbar>
    <ion-title>Movies</ion-title>
    <button (click)="onAbout()">
      <ion-icon name="heart"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="onSearch($event.target.value)"></ion-searchbar>

  <div *ngIf="loading">Cargando peliculas...</div>

  <ion-grid *ngIf="!loading">
    <ion-row>
      <ion-col col-6 *ngFor="let movie of movies">
        
        <ion-card (click)="onOpenMovie(movie)">
          <img src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}" />
          <ion-card-content>
            <ion-card-title class="movie-titlee">
              {{movie.title}}
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>